[submodule "ahab"]
	path = ahab
	url = git://github.com/cmod/ahab.git
[submodule "bibliotype"]
	path = bibliotype
	url = git://github.com/cmod/bibliotype.git
[submodule "epub-boilerplate"]
	path = epub-boilerplate
	url = git://github.com/javierarce/epub-boilerplate.git
[submodule "treesaver"]
	path = treesaver
	url = git://github.com/Treesaver/treesaver.git
